<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <title>Locatii</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<input type="hidden" id="locationId">
<div class="modal" id="delete" tabindex="-1" role="dialog" aria-labelledby="label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="label">Stergere locatie</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Confirma stergerea locatiei din baza de date.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Anulare</button>
        <button type="button" class="btn btn-primary" onclick="deleteLocation()">Confirm</button>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="insert" tabindex="-1" role="dialog" aria-labelledby="label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="label">Creeaza o noua locatie</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="lead">Introdu datele locatiei</p>
                <form class="form-inline my-2 my-lg-0" method="post">
                    <fieldset>
                        <input class="form-control mr-sm-2" type="text" name="newLocationAddress" id="newLocationAddress"
                               placeholder="Adresa locatiei">
                        <input class="form-control mr-sm-2" type="text" name="newLocationCity" id="newLocationCity"
                               placeholder="Oras locatiei">
                        <input class="form-control mr-sm-2" type="text" name="newLocationCounty" id="newLocationCounty"
                               placeholder="Judet locatie">
                        <input class="form-control mr-sm-2" type="text" name="newLocationProviderId"
                               id="newLocationProviderId"
                               placeholder="Id furnizor">
                        <button type="submit" class="btn btn-primary">Trimite</button>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Anulare</button>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">GreenRomaniaInitiative</a>
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('index') }}">Acasa</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('suppliers') }}">Furnizori</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('locations') }}">Locatii</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('customers') }}">Clienti</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('orders') }}">Comenzi</a>
            </li>
        </ul>
    </div>
    {% if user_data['Role'] == 'Client' %}
        <a class="navbar-brand">Autentificat ca si {{ user_data['Role'] }}</a>
    {% else %}
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#insert">
            Creeaza o noua locatie
        </button>
    {% endif %}
</nav>
<h1 class="display-3">Acestea sunt locatiile noastre</h1>
<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Nr</th>
        <th scope="col">Adresa</th>
        <th scope="col">Oras</th>
        <th scope="col">Judet</th>
        <th scope="col">Nume furnizor</th>
        {% if user_data['Role'] == 'DbAdmin' %}
            <th scope="col">Operatiuni</th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for row in data %}
        <tr class={{ "table-active" if row[0] % 2 == 0 }}>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
            {% if user_data['Role'] == 'DbAdmin' %}
                <td>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete"
                    onclick="setLocationId({{ row[0] }})">
                        Sterge
                    </button>
                </td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
<script>
    function setLocationId(location) {
        document.getElementById('locationId').innerText = location;
    }

    function deleteLocation() {
        document.location.href = '/sterge_locatie/' + encodeURIComponent(document.getElementById('locationId').innerText);
    }
</script>
</body>
</html>